{% extends "MainAbstractBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mainabstract/css/colorbox.css') }}" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}
    {{ parent() }}
    <h1>Language creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('languages') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block homeSlider %}{% endblock %}
{% block single_item %}{% endblock %}
{% block projects %}{% endblock %}