{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div id="form" class="registeration">
        
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_row(form._token) }}
            <div class="col-md-6 col-lg-12 form-group">
                <div class="error">
                    {{ form_errors(form.current_password) }}
                </div>
                {{ form_widget(form.current_password, { 'attr': {'placeholder': 'Current Password'|trans, 'class': 'form-control'} }) }}
            </div>
            {% for passwordField in form.plainPassword %}
                <div class="col-md-6 col-lg-12 form-group">
                    <div class="error">
                        {{ form_errors(passwordField) }}
                    </div>
                    {{ form_widget(passwordField, { 'attr': {'placeholder': 'New Password'|trans, 'class': 'form-control'} }) }}
                </div>
            {% endfor %}

            <div class="col-md-12">
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="col-md-12 col-sm-12 col-xs-12 blue-btn" />
            </div>
        </form>
    </div>
</div>