{% extends "MainAbstractBundle::layout.html.twig" %}

{% block homeSlider %}{% endblock %}
{% block single_item %}{% endblock %}
{% block projects %}{% endblock %}
{% block container %}
    {{ parent() }}
    <div class="container">
        <h2 class="text-center">{{'Department list'|trans}}</h2>
        {% for error in app.session.flashbag.get('error_messages') %}
            <div class="error"><ul><li>{{ error }}</li></ul></div>
        {% endfor %}
        <a href="{{ path('departments_new') }}">{{'Create a new entry'|trans}}</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center no-head">Department</th>
                    <th class="middle">Emails</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <th scope="row" width="10%" class="text-center no">{{ entity.department }}</th>
                    <td class="middle">{{ entity.emails }}</td>
                    <td><a class="group2" href="{{ path('departments_edit', { 'id': entity.id }) }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
