{% extends "MainAbstractBundle::layout.html.twig" %}

{% block homeSlider %}{% endblock %}
{% block single_item %}{% endblock %}
{% block projects %}{% endblock %}
{% block container %}
    {{ parent() }}
    <div class="container">
        <h2 class="text-center">Department creation</h2>
        <p class="text-center" style="margin:30px 0;">{{ form_errors(form) }}</p>
        <div id="form">
            {{ form_start(form, {'attr': { 'id': 'contact'} }) }}

            <div class="col-md-6 col-lg-12 form-group">
                {{ form_widget(form.department, { 'type': 'text', 'attr': {'placeholder': 'Department', 'class': 'form-control', 'id': 'department'} }) }}
            </div>

            <div class="col-md-6 col-lg-12 form-group">
                {{ form_widget(form.emails, { 'type': 'text', 'attr': {'placeholder': 'Emails', 'class': 'form-control', 'id': 'emails'} }) }}
                <span style='color:#555;'><i>Enter emails seperated by ;</i></span>
            </div>

            <div class="col-md-12">
                <button id="submit" type="submit" class="col-md-12 col-sm-12 col-xs-12 blue-btn">Create</button>
            </div>

        </div>
        <ul class="record_actions">
            <li><a href="{{ path('departments') }}">Back to the list</a></li>
        </ul>
    </div>
{% endblock %}
