<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rayat Al Jazeera General Trading &amp; Cont. Co.</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('bundles/mainabstract/img/favicon.png') }}" type="image/x-icon"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <!--Main CSS for the website-->
            <link href="{{ asset('bundles/mainabstract/css/main.css') }}" media="all" rel="stylesheet" type="text/css">
            <link href="{{ asset('bundles/mainabstract/css/toolbar.css') }}" media="all" rel="stylesheet" type="text/css">
            {% if 'ar' == app.session.get('_locale') %}
                <link rel="stylesheet" href="{{ asset('bundles/mainabstract/css/ar.css') }}">
            {% endif %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid demo-2">
            {% block header %}
                {% render(controller('MainAbstractBundle:Menu:index')) %}
            {% endblock %}
            
            {% block homeSlider %}
                <!--Home Slider ==================================== -->
                <section id="home">     
                    <div id="home-carousel" class="carousel slide" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#home-carousel" data-slide-to="1"></li>
                            <li data-target="#home-carousel" data-slide-to="2"></li>
                            <li data-target="#home-carousel" data-slide-to="3"></li>
                        </ol>
                        <!--/.carousel-indicators-->

                        <div class="carousel-inner">

                            <div class="item active"  style="background-image: url('{{ asset("bundles/mainabstract/img/bg1.jpg") }}')" >
                                <div class="carousel-caption">
                                    <div class="animated bounceInRight">
                                        <h2>Welcome to our website ! <br>WE MAKE CONTRACTING.</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                                        <a class="text-center" href="projects.html">See  our projects</a>
                                    </div>
                                </div>
                            </div>              

                            <div class="item" style="background-image: url('{{ asset("bundles/mainabstract/img/bg2.jpg") }}')">                
                                <div class="carousel-caption">
                                    <div class="animated bounceInDown">
                                        <h2>HELLO WORLD! <br>WE MAKE CONTRACTING.</h2>
                                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="item" style="background-image: url('{{ asset("bundles/mainabstract/img/bg3.jpg") }}')">                 
                                <div class="carousel-caption">
                                    <div class="animated bounceInUp">
                                        <h2>HELLO WORLD! <br>WE MAKE CONTRACTING.</h2>
                                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url('{{ asset("bundles/mainabstract/img/bg3.jpg") }}')">                 
                                <div class="carousel-caption">
                                    <div class="animated bounceInRight">
                                        <h2>HELLO WORLD! <br>WE MAKE CONTRACTING.</h2>
                                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.carousel-inner-->
                        <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                            <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                                <i class="fa fa-angle-left fa-3x"></i>
                            </a>
                            <a class="sl-next" href="#home-carousel" data-slide="next">
                                <i class="fa fa-angle-right fa-3x"></i>
                            </a>
                        </nav>

                    </div>
                </section>
                <!-- End #home Slider ========================== -->
            {% endblock %}
            
            {% block container %}
                <img src="{{ asset('bundles/mainabstract/img/inner-bg.jpg') }}" class="img-responsive inner-bg">
            {% endblock %}
            
            {% block single_item %}
                <section class="news text-center clearfix">
                    <div class="container">
                        <h1 class="title">latest news</h1>
                        <div class="slider autoplay single-item">
                            <div>
                                <h3>There are many variations of passages</h3>
                                <p>he 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets </p>
                                <img src="{{ asset('bundles/mainabstract/img/news-img-1.jpg') }}"> </div>
                            <div>
                                <h3>There are many variations</h3>
                                <p>he 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets </p>
                                <img src="{{ asset('bundles/mainabstract/img/news-img-1.jpg') }}"> </div>
                            <div>
                                <h3>There are many variations of passages</h3>
                                <p>he 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--single-item-->
            {% endblock %}
            
            {% block projects %}
                <div id="projects" class="clearfix">
                    <div class="col-md-6 col-sm-12 col-xs-12 WIP">
                        <h2>WIP Projects</h2>
                        <div class="slider2 autoplay single-item">
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide1.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide1.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide1.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide1.jpg') }}"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 Complete-projects">
                        <h2>completed Projects</h2>
                        <div class="slider2 autoplay single-item">
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide2.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide2.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide2.jpg') }}"> </div>
                            <div> <img src="{{ asset('bundles/mainabstract/img/slide2.jpg') }}"> </div>
                        </div>
                    </div>
                    <a class="blue-btn text-center col-lg-6 col-md-6 col-sm-12 col-xs-12" href="projects.html">
                        view more projects</a>
                </div>
                <!--projects-->
            {% endblock %}
            
            {% block footer %}
                <footer class="clearfix">
                    <div class="container"> <span class="copyrights pull-left col-md-6 col-sm-12 col-xs-12">&copy; Copyright 2015 . All Rights Reserved,Designed By<a href="http://www.tickmarked.com/" class="tickmarked" target="_blank">Tick Marked</a></span> <span class="fb pull-right col-md-6 col-sm-12 col-xs-12"><a href="#"><img src="{{ asset('bundles/mainabstract/img/facebook.png') }}">follow us on facebook</a></span> </div>
                </footer>
            {% endblock %}
        </div>
        <!--container fluid--> 
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
            <!--JS FOR SLICK SLIDERS-->
            <script src="{{ asset('bundles/mainabstract/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/mainabstract/js/slick.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/mainabstract/js/wow.min.js') }}" type="text/javascript"></script>
            <!--JS FOR HEADER-->
            <script src="{{ asset('bundles/mainabstract/js/classie.js') }}" type="text/javascript"></script>
            <!--MAIN-SLIDER--> 
            <script type="text/javascript">
                // Slider Height
                var slideHeight = $(window).height();
                $('#home-carousel .carousel-inner .item, #home-carousel .video-container').css('height', slideHeight);

                $(window).resize(function() {
                    'use strict',
                    $('#home-carousel .carousel-inner .item, #home-carousel .video-container').css('height', slideHeight);
                });
            </script>
            <script type="text/javascript">
                $('#home-carousel').carousel({
                    interval: 3000,
                    cycle: true
                });
            </script>      
            <!--SLICK SLIDER-->       
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.autoplay,.slider,.slider2').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 20000,
                        arrows: false,
                        dots: true,
                        pauseOnHover: false,
                        adaptiveHeight: true
                    });
                })
            </script>
            <!--Header--> 
            <script>
                function init() {
                    window.addEventListener('scroll', function(e) {
                        var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                                shrinkOn = 300,
                                header = document.querySelector("header");
                        if (distanceY > shrinkOn) {
                            classie.add(header, "smaller");
                        } else {
                            if (classie.has(header, "smaller")) {
                                classie.remove(header, "smaller");
                            }
                        }
                    });
                }
                window.onload = init();
            </script>
            <script>
                wow = new WOW({
                    animateClass: 'animated',
                    offset: 100,
                    mobile: false
                });
                wow.init();
            </script>
        {% endblock %}
    </body>
</html>
