<div class="toolbar-menu">
    <ul class="toolbar-home">
        <li><a href="{{ path('articles') }}">Articles</a></li>
        <li><a href="{{ path('contacts') }}">Contacts</a></li>
        <li><a href="{{ path('menu') }}">Menu Links</a></li>
        <li><a href="{{ path('departments') }}">Departments</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Add new reporter</a></li>
    </ul>
</div>
