{% extends "MainAbstractBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!--Main CSS for the website-->
    <link rel="stylesheet" href="{{ asset('bundles/mainabstract/css/main.css') }}">
{% endblock %}

{% block container %}
    {{ parent() }}
    <div class="container">
        
        <h2 class="text-center">Article Edit</h2>
        <p class="text-center" style="margin:30px 0;">{{ form_errors(edit_form) }}</p>
        <div id="form">
            <form class="clearfix" action="{{ path('contacts_create') }}" method="post" >
                {{ form_row(edit_form._token) }}
                <div class="col-md-6 col-lg-12 form-group">
                    {{ form_widget(edit_form.title, { 'type': 'text', 'attr': {'placeholder': 'Title', 'class': 'form-control', 'id': 'title'} }) }}
                </div>
                <div class="col-md-6 col-lg-12 form-group">
                    {{ form_widget(edit_form.content, { 'type': 'email', 'attr': {'placeholder': 'Content', 'class': 'form-control', 'id': 'content', 'rows': '8'} }) }}
                </div>
                <div class="col-md-6 col-lg-6 form-group">
                    {{ form_widget(edit_form.image, { 'attr': {'class': 'dropdown-menu', 'role': 'menu'} }) }}
                </div>
                <div class="col-md-6 col-lg-6 form-group">
                    <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown"> 
                        <span data-bind="label">Select Language</span>&nbsp;<span class="caret"></span> </button>
                    {{ form_widget(edit_form.language, {  'attr': {'class': 'dropdown-menu', 'role': 'menu'} }) }}
                </div>
                <div class="col-md-12">
                    <button id="submit" type="submit" class="col-md-12 col-sm-12 col-xs-12 blue-btn">Create</button>
                </div>
            </form>
            <!--contact-form--> 
        </div>
        <a href="{{ path('articles') }}">Back to the list</a>
        {{ form(delete_form) }}
    </div>
{% endblock %}

{% block homeSlider %}{% endblock %}
{% block single_item %}{% endblock %}
{% block projects %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document.body).on('click', '.dropdown-menu li', function(event) {
            var $target = $(event.currentTarget);
            $target.closest('.btn-group')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');
            
            return false;
        });
    </script>
{% endblock %}
