{% extends "MainAbstractBundle::layout.html.twig" %}

{% block stylesheets %}  
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mainabstract/css/colorbox.css') }}">
{% endblock %}

{% block container %}
    {{ parent() }}
    <div class="container">
        
        <h2 class="text-center">Article creation</h2>
        <p class="text-center" style="margin:30px 0;">{{ form_errors(form) }}</p>
        <div id="form">
        
            {{ form_start(form, {'attr': { 'id': 'contact', 'class': 'clearfix', 'novalidate': ''} }) }}
                {{ form_row(form._token) }}
                <div class="col-md-6 col-lg-12 form-group">
                    <div class="error">{{ form_errors(form.title) }}</div>
                    {{ form_widget(form.title, { 'type': 'text', 'attr': {'placeholder': 'Title', 'class': 'form-control', 'id': 'title'} }) }}
                </div>
                <div class="col-md-6 col-lg-12 form-group">
                    <div class="error">{{ form_errors(form.content) }}</div>
                    {{ form_widget(form.content, { 'attr': {'placeholder': 'Content', 'class': 'form-control', 'id': 'content', 'rows': '8'} }) }}
                </div>
                <div class="col-md-6 col-lg-6 form-group">
                    <div class="error">{{ form_errors(form.image) }}</div>
                    {{ form_widget(form.image, { 'attr': {'class': 'dropdown-menu', 'role': 'menu'} }) }}
                </div>
                <div class="col-md-6 col-lg-6 form-group">
                    <div class="error">{{ form_errors(form.language) }}</div>
                    {{ form_widget(form.language, {  'attr': {'class': 'select-list'} }) }}
                </div>
                <br/>
                <div class="col-md-12">
                    <button id="submit" type="submit" class="col-md-12 col-sm-12 col-xs-12 blue-btn">Create</button>
                </div>

            <!--contact-form--> 
        </div>
        <a href="{{ path('articles') }}">Back to the list</a>
    </div>
{% endblock %}

{% block homeSlider %}
<ul>
<li style="text-align: left;">
<span style="color: #ff0000;">this is new article
</span>
</li>
</ul>
{% endblock %}
{% block single_item %}{% endblock %}
{% block projects %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mainabstract/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            tinymce.init({
                selector: "#main_articlebundle_article_content",
                theme: "modern",
                plugins: [
                     "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                     "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                     "save table contextmenu directionality emoticons template paste textcolor"
               ],
               content_css: "css/content.css",
               toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
               style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ],
                autofocus: "#main_articlebundle_article_content"
            });
        });

        $(document.body).on('click', '.dropdown-menu li', function(event) {
            var $target = $(event.currentTarget);
            $target.closest('.btn-group')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');
            
            return false;
        });
    </script>
{% endblock %}

