{% extends "MainAbstractBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mainabstract/css/slick.css') }}" media="all" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/mainabstract/css/animate.css') }}" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}
<div class="container">
    {% for article in articles %}
    <div class="chairman clearfix">
        <h1 class="text-center">{{ article.title }}</h1>
        <p class="col-md-8">{{ article.smallContent }}</p>
        <img class="col-md-4 img-responsive" src="{{ asset(article.webPath) }}" alt="{{ article.image }}" />
        <div class="col-md-6 pull-left">
            <a href="{{ path('articles_show', { 'id': article.id }) }}" class="text-center">{{ 'Read More'|trans}}</a>
        </div>
    </div>
    {% endfor %}
    <!--chairman--> 
</div>
<!--container-->
{% endblock %}